<!DOCTYPE html>
<html>
    <head>
        <%- include('../layout/head') %> 
    </head>
    <body>
        <header>
            <%- include('../layout/header') %> 
        </header>
        <main>
            <section>
                <h3><%= task.title %></h3>
                <p>Description: <%=task.description %></p>
                <p>Status: <%=task.status %></p>
                <p>Category: <%=task.category %></p>
                <p>Date: <%=task.due_date %></p>
            </section>
            <h2>------------------Update Task -----------------------</h2>
            <form method="post" action="/task/<%=task.id%>?_method=PUT">
                <input type="text" name="title" placeholder="title" value="<%= task.title %>"/>
                <textarea name="description" col="40" rows="20" placeholder="Add Description"><%=task.description %></textarea>
                <input type="text" name="category" placeholder="Category" value="<%=task.category %>"/>
                <input type="text" name="status" placeholder="Status" value="<%=task.status %>"/>
                <div><button type="submit">Update</button></div>
            </form>
        </main>
    </body>
</html>